@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,100&display=swap');


:root{
    --color-color1: #F67272;
    --color-color2: #0996B5;
    --color-color3: #7ECCD9;
    --background-color-header: #fff;
    --background-gradient:linear-gradient(90deg, #F67272 10%, #099 90%);
    --color-Border: #e7e3eb;
    --font-family: 'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 1px solid black;
}

body{
    background-color: var(--background-color-header);
    font-family: var(--font-family);
}

/* header */



.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--color-Border);
    padding:  0 2em;
}

.header__Buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 5em;
    padding: 2em;
}

.header__a{
    text-decoration: none;
    color: var(--color-color1);
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s ease; 
}

.header__a:hover,
.header__a:focus {
    color: var(--color-color2);
    font-size: 30px; 
}

.figure-logo{
    width: 10%;
}

.img-logo{
    width: 100%;
}

/* somos */

.seccion-uno{
    background-color: var(--color-color3);
}

.container{
    margin: 0 auto;
    width: 80%;
    display: flex;
}

.seccion-uno-texts{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.tittle{
    color: var(--color-color1);
    font-size: 2em;
    font-size: 150px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    transition: 0.3s ease; 
}

.tittle:hover{
    cursor: pointer;
    transform: rotate(10deg); 
    transition: transform 0.3s ease;
    font-size: 180px;
}
.paragraph{
    color: var(--background-color-header);
    text-align: left;
    line-height: 1.5;
}


.seccion-uno-figure{
    width: 90%;
}

.silueta{
    display: block;
    width: 100%;
    margin: 0 auto;
}

/* wave */

.wave{
    position: relative;
    overflow: hidden;
    width: 100%;
    display: unset;
}
.wavetop{
    display: block;
}

.wavedown{
    display: block;
}

/* seccion dos */
.seccion-dos{
    background-color: var(--background-color-header);
    display: flex;
    align-items: center;
    justify-content: center;
}

.tittle.tittle--color2 {
    font-size: 92px;
    color: var(--color-color2);
    text-align: center;
}

.tittle:hover{
    cursor: pointer;
    transform: rotate(-10deg); 
    transition: transform 0.3s ease;
    font-size: 97px;
}

.seccion-uno-figure.seccion-dos-figure{
    width: 50%;
}